[alias]
	cm = !git add -A && git commit -am # Add all to stage and commit, needs a message, eg: git cm "Commit msg"
	st = status
	co = checkout # Create and switch to branch, eg: git cob newBranch
	cob = checkout -b
	save = !git add -A && git commit -am 'SAVEPOINT' # Save your current work
	wipe = !git add -A && git commit -qm 'SAVEPOINT: Didn't work. Undoing' && git reset HEAD~1 --hard # Reset to the prior save point while still keeping a record of it
	undo = reset HEAD~1 --mixed # Undo prior commit while keeping changes
	rsave = !git undo && git save # Re-save
	amend = commit -a --amend # OR Change commit message of most recent commit
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive # Rebase local commits to come after pulled code, the --prune option removes remote-tracking branches that no longer exist on the remote
	bclean = "!f() { git branch --merged ${1-develop} | grep -v " ${1-develop}$" | xargs -r git branch -d; }; f" # Deletes all branches already merged into dev
	bdone = "!f() { git checkout ${1-develop} && git up && git bclean ${1-develop}; }; f" # Checkout main line and run up and bclean
	month-log = log --since '1 month ago' --format='%s%Creset' --no-merges # Spit out a log for the last month. Typically I tailor this to a particular date, but seems nice to "save" it here
	la=!git config -l | grep alias | cut -c 7- # List all aliases
	rmi = git rm -r --cached . && git add . && git commit -am "Remove ignored files" # Remove all ignored files
[user]
	email = william.tilton@caci.com
	name = William Tilton
[credential]
	helper = manager
[credential "github.com"]
	useHttpPath = true
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
